$poppins-font-family:'Poppins', sans-serif;
$body-color:#ffffff;
$body-alter-color:#4454ff;
$main-color:#ff4d55;
$hover-color:#f8646c;
$container-color:#F5F5F5;
$text-alter-color:#0bd2d4;
$text-color-slide:#fbfeff;
$text-color:#000;
$display-flex: 1 1 17rem;
$ss-color:#80FE7F;
$s-color: #C0FC7F;
$a-color: #FFFA7F;
$b-color: #FFBF7F;
$c-color: #FF7F7F;
$d-color: #EF534F;
